<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
    <title>Pathbuddy CV Builder</title>
</head>

<body id='index-body'>
    <video autoplay muted loop id='index-video'>
        <source src='{{ url_for('static', filename='nature_vid.mp4') }}' type='video/mp4'>
    </video>

    
    <div id='index-contents'>
        <h1>Pathbuddy CV Builder</h1>
            <h2>This site was built as part of a work experience with Pathbuddy</h2>
            <a href="/form" title="Go to CV builder" class="redirect"><i id='index-button' class="fa-solid fa-circle-play"></i></a>
    </div>
    
</body>

</html>
