 <!DOCTYPE html>
<html>
<head>
<title>My CV</title>
</head>

<body>
<h3>Personal Details:</h3>
<ul>
    <li>Name: {{name}}</li>
    <li>Phone Number: {{phone}}</li>
    <li>Email Address: <a href="mailto:{{email}}">{{email}}</a></li>
</ul>
<h3>Skills:</h3>
<ul>
    {% for skill in skills %}
        <li>{{skill}}</li>
    {% endfor %}
</ul>

<h3>Experience:</h3>
<ul>
    {% for exp in experiences %}
        <li>{{ exp }}</li>
    {% endfor %}
</ul>

<h3>Interests:</h3>
<p>{{interests}}</p>

<h3>Goals:</h3>
<ul>
    {% for goal in goals %}
        <li>{{goal}}</li>
    {% endfor %}
</ul>

</body>

</html> 